body{
    font-family: Arial;
    background:#121212;
    color:white;
  }
  
  .container{
    max-width:900px;
    margin:auto;
    padding:40px;
  }
  
  .title{
    font-size:40px;
    margin-bottom:20px;
  }
  
  .search{
    width:100%;
    padding:12px;
    border-radius:8px;
    border:none;
    margin-bottom:30px;
  }
  
  .grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
  }
  
  .card{
    background:#1e1e1e;
    padding:20px;
    border-radius:10px;
  }
  
  .songRow{
    display:flex;
    justify-content:space-between;
    margin:8px 0;
  }
  
  button{
    background:#1DB954;
    border:none;
    padding:6px 10px;
    border-radius:6px;
    color:white;
    cursor:pointer;
  }
  
  button:hover{
    background:#1ed760;
  }
  
  .generate{
    margin-top:15px;
    width:100%;
  }
  
  .recommendations{
    margin-top:30px;
  }
  
  .score{
    color:#aaa;
  }